{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}


<div class="">
    <h2 class="text-center text-info">TABLEAU DE BORD</h2>
    <a href="{{path('app_admin_produits')}}" class="btn btn-warning mt-3">Gestion des produits</a>
</div>
{% endblock %}
