{% extends "base.html.twig" %}


{% block body %}

<h2 class="text-center text-info">
    Votre nouveau mot de passe
</h2>
{{form_start(password_form)}}
{{form_row(password_form.password)}}
<button type="submit" class="btn btn-warning">Valider le nouveau mot de passe</button>
{{form_end(password_form)}}
    
{% endblock %}