{% extends "base.html.twig" %}


{% block body %}
    <div>
        <h2 class="text-center text-info">
            Réinitialisé votre mot de passe
        </h2>
        {{form_start(reset_form)}}
        {{form_row(reset_form.email)}}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{form_end(reset_form)}}
    </div>
{% endblock %}