
{% extends "base.html.twig" %}


{% block body %}
    <h2 class="text-center text-warning">
        Editer un produit
    </h2>
    {% include "administration/produits/produits_form.html.twig" with {'button_label': 'Editer'} %}
{% endblock %}