
{% extends "base.html.twig" %}

<!--URL de test en .env=dev Marche en PROD-->
<!--https://localhost:8000/_error/404-->
{% block body %}
<div class="alert alert-danger p-3 w-50 mx-auto mt-3">
    <h2 class="text-center text-warning">Erreur 404</h2>
    <em>Désolé : cette page est introuvable</em>
</div>
{% endblock %}

