<h1 class="text-info">Réinitialisé votre mot de passe</h1>
<p>Bonjour {{user.firstname}}</p>
<p>Vous avez demander une reinitialisation de mot de passe :</p>
<p>Merci de cliquer sur le lien suivant</p>
<!--Le liens dans mailhog revoie sur le port: http://localhost:8025/ nous on veux http://localhost:8000/ -->
<!--On utilise donc la fonction Twig absolute_url()-->
<a href="{{url|raw}}">
    {{url|raw}}
</a>
<em>Ce lien expire dans 3 heures !</em>